<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Tech Blog</title>
        <link rel="stylesheet" href="../public/css/normalize.css">
        <link rel="stylesheet" href="../public/css/style.css">
    </head>

    <body>

        <header id="main-header">
            <h1>The Tech Blog</h1>
            <ul>
                <li>Home</li>
                <li>Dashboard</li>
                <li>Login</li>
                <li>Logout</li>
            </ul>
        </header>

        <main id="main-content">

            <div class="card post">
                <header>
                    <h5>Title</h5>
                    <p>Posted by</p>
                </header>
                <main>
                    <p>Content</p>
                </main>
            </div>

            <div class="card post">
                <header>
                    <h5>Title</h5>
                    <p>Posted by</p>
                </header>
                <main>
                    <p>Content</p>
                </main>
            </div>

            <div class="card login-signup">
                <header>
                    <h4>Login</h4>
                </header>
                <main>
                    <form>
                        <label>Username</label>
                        <input type="text">
                        <label>Password</label>
                        <input type="text">
                        <button>Login</button>
                        <p>Sign Up instead</p>
                    </form>
                </main>
            </div>

            <div class="card login-signup">
                <header>
                    <h4>Sign Up</h4>
                </header>
                <main>
                    <form>
                        <label>Username</label>
                        <input type="text">
                        <label>Password</label>
                        <input type="text">
                        <button>Sign Up</button>
                        <p>Login instead</p>
                    </form>
                </main>
            </div>

            <div class="card edit">
                <header>
                    <h4>Edit Post</h4>
                </header>
                <main>
                    <form>
                        <label>Title</label>
                        <input type="text">
                        <label>Content</label>
                        <textarea></textarea>
                        <button>Update Post</button>
                        <button>Delete Post</button>
                    </form>
                </main>
            </div>

            <div class="card comment">
                <main>
                    <p>Content</p>
                    <p>User, Date</p>
                </main>
            </div>

            <div class="card create-comment">
                <main>
                    <form>
                        <label>Comment</label>
                        <textarea></textarea>
                        <button>Submit</button>
                    </form>
                </main>
            </div>

            <div class="card post-list">
                <header>
                    <h5>Title</h5>
                    <p>Date</p>
                </header>
            </div>

        </main>

    </body>

</html>