<div class="card login-signup">
    <header>
        <h4>Login</h4>
    </header>
    <main>
        <form id="login-form">
            <label for="username-login">Username</label>
            <input type="text" id="username-login">
            <label for="password-login">Password</label>
            <input type="text" id="password-login">
            <button type="submit">Login</button>
            <p><a href="/signup">Sign Up instead</a></p>
        </form>
    </main>
</div>

<script src="/./js/login.js"></script>