<div class="card login-signup">
    <header>
        <h4>Sign Up</h4>
    </header>
    <main>
        <form id="signup-form">
            <label for="username-signup">Username</label>
            <input type="text" id="username-signup">
            <label for="password-signup">Password</label>
            <input type="text" id="password-signup">
            <button type="submit">Sign Up</button>
            <p><a href="/login">Login instead</a></p>
        </form>
    </main>
</div>

<script src="/./js/signup.js"></script>